body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: black;
    color: black;
    font-family: 'Yu Gothic';
    opacity: 0.20;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

input,
select,
textarea {
    max-width: 280px;
}

nav {
    background-color: black;
}

.active {
    color: black;
}

.img__wrap {
    position: relative;
    width:80%;
    height:80%;
}

.img__description {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(248, 248, 255, 0.50);
    color: black;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s, visibility .2s;
    font-size: 20px;
    text-align: center;
    font-weight:bold;
}

.img__wrap:hover .img__description {
    visibility: visible;
    opacity: 1;

}

#form {
    margin: 0 auto;
    width: 70%;
    color: white;
    font-family: 'Yu Gothic';
}

.container text-center {
    font-family: 'Yu Gothic';
}

h1 {
    margin: 5% 5% 1% 5%;
}

.add {
    color: white;
    background-color: black;
}

.form-group {
    margin-top: 15%;
    margin-left: 25%;
    margin-bottom: 15%;
    color: white;
    font-family: 'Yu Gothic';
}

.form-control {
    margin-bottom:5%;
}

.account {
    margin-top: 40%;
    margin-left: 25%;
    font-size: 20px;
    color: dimgrey;
}

table{
    margin-top: 15%;
}

footer{
    font:white;
}


.slide-image {
    width: 50%;
    margin: auto
}



.carousel-holder {
    margin-bottom: 30px;
}

.carousel-inner {
    width:100% ;
}

.carousel-control,
.item {
    border-radius: 4px;
}



.caption {
    height: 130px;
    overflow: hidden;
}



    .caption h4 {
        white-space: nowrap;
    }



.thumbnail img {
    width: 100%;
}



.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}



.thumbnail {
    padding: 0;
}



    .thumbnail .caption-full {
        padding: 9px;
        color: #333;
    }



footer {
    margin: 50px 0;
}

#confirm{
    color:white;
}

@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto+Condensed:400,400i,700,700i');

section {
    padding: 100px 0;
}

.details-card {
    background: #ecf0f1;
}

.card-content {
    background: #ffffff;
    border: 4px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.card-img {
    position: relative;
    overflow: hidden;
    border-radius: 0;
    z-index: 1;
}

    .card-img img {
        width: 100%;
        height: auto;
        display: block;
    }

    .card-img span {
        position: absolute;
        top: 15%;
        left: 12%;
        background: #1ABC9C;
        padding: 6px;
        color: #fff;
        font-size: 12px;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        transform: translate(-50%,-50%);
    }

        .card-img span h4 {
            font-size: 12px;
            margin: 0;
            padding: 10px 5px;
            line-height: 0;
        }

.card-desc {
    padding: 1.25rem;
}

    .card-desc h3 {
        color: #000000;
        font-weight: 600;
        font-size: 1.5em;
        line-height: 1.3em;
        margin-top: 0;
        margin-bottom: 5px;
        padding: 0;
    }

    .card-desc p {
        color: #747373;
        font-size: 14px;
        font-weight: 400;
        font-size: 1em;
        line-height: 1.5;
        margin: 0px;
        margin-bottom: 20px;
        padding: 0;
        font-family: 'Raleway', sans-serif;
    }

.btn-card {
    background-color: #1ABC9C;
    color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    padding: .84rem 2.14rem;
    font-size: .81rem;
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    -o-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    margin: 0;
    border: 0;
    -webkit-border-radius: .125rem;
    border-radius: .125rem;
    cursor: pointer;
    text-transform: uppercase;
    white-space: normal;
    word-wrap: break-word;
    color: #fff;
}

    .btn-card:hover {
        background: orange;
    }

a.btn-card {
    text-decoration: none;
    color: #fff;
}
.box {
    padding: 60px 0px;
}

.box-part {
    background: #FFF;
    border-radius: 10px;
    padding: 60px 10px;
    margin: 30px 0px;
}

    .box-part:hover {
        background: #4183D7;
    }

        .box-part:hover .fa,
        .box-part:hover .title,
        .box-part:hover .text,
        .box-part:hover a {
            color: #FFF;
            -webkit-transition: all 1s ease-out;
            -moz-transition: all 1s ease-out;
            -o-transition: all 1s ease-out;
            transition: all 1s ease-out;
        }

.text {
    margin: 20px 0px;
}
