body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: black;
    color: coral;
    font-family: 'Yu Gothic';
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

input,
select,
textarea {
    max-width: 280px;
}

nav {
    background-color: coral;
}

.active {
    color: black;
}

.img__wrap {
    position: relative;
    width:80%;
    height:80%;
}

.img__description {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(248, 248, 255, 0.50);
    color: black;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s, visibility .2s;
    font-size: 20px;
    text-align: center;
    font-weight:bold;
}

.img__wrap:hover .img__description {
    visibility: visible;
    opacity: 1;

}

#form {
    margin: 0 auto;
    width: 70%;
    color: coral;
    font-family: 'Yu Gothic';
}

.container text-center {
    font-family: 'Yu Gothic';
}

h1 {
    margin: 5% 5% 1% 5%;
}

.add {
    background-color: black;
    color: white
}

.form-group {
    margin-top: 15%;
    margin-left: 25%;
    margin-bottom: 15%;
}

.account {
    margin-top: 40%;
    margin-left: 25%;
    font-size: 20px;
    color:brown;
}

table{
    margin-top: 15%;
}
