body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: black;
    color: black;
    font-family: 'Yu Gothic';
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

input,
select,
textarea {
    max-width: 280px;
}

nav {
    background-color: black;
}

.active {
    color: black;
}

.img__wrap {
    position: relative;
    width:80%;
    height:80%;
}

.img__description {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(248, 248, 255, 0.50);
    color: black;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s, visibility .2s;
    font-size: 20px;
    text-align: center;
    font-weight:bold;
}

.img__wrap:hover .img__description {
    visibility: visible;
    opacity: 1;

}

#form {
    margin: 0 auto;
    width: 70%;
    color: white;
    font-family: 'Yu Gothic';
}

.container text-center {
    font-family: 'Yu Gothic';
}

h1 {
    margin: 5% 5% 1% 5%;
}

.add {
    color: white;
    background-color: black;
}

.form-group {
    margin-top: 15%;
    margin-left: 25%;
    margin-bottom: 15%;
    color:white;
}

.account {
    margin-top: 40%;
    margin-left: 25%;
    font-size: 20px;
    color:dimgrey;
}

table{
    margin-top: 15%;
}

footer{
    font:white;
}


.slide-image {
    width: 50%;
    margin: auto
}



.carousel-holder {
    margin-bottom: 30px;
}

.carousel-inner {
    width:100% ;
}

.carousel-control,
.item {
    border-radius: 4px;
}



.caption {
    height: 130px;
    overflow: hidden;
}



    .caption h4 {
        white-space: nowrap;
    }



.thumbnail img {
    width: 100%;
}



.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}



.thumbnail {
    padding: 0;
}



    .thumbnail .caption-full {
        padding: 9px;
        color: #333;
    }



footer {
    margin: 50px 0;
}

#confirm{
    color:white;
}
