@model MovieApp.Model.Admin


@{
    ViewBag.Title = "AdminIndex";
}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</head>

<body style="background-color:#78909c ">


    <div class="container" style="margin: 5% 5% 5% 5%">
        <div class="box">
            <div class="container">
                <div class="row">

                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="border:solid; opacity:0.8; border-radius: 25px; background-color:#eceff1; color:black">

                        <div class="box-part text-center">

                            <div class="card-img">
                                <img src="" alt="">
                            </div>
                            <a href="/Customer/ListCustomers" class="btn btn-default btn-lg btn-block active" role="button" aria-pressed="true">Manage Cutomers</a>

                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="border:solid; opacity:0.8; border-radius: 25px; background-color:#eceff1; color: black">

                        <div class="box-part text-center">

                            <div class="card-img">
                                <img src="" alt="">
                            </div>
                            <a href="/Order/ListOrders" class="btn btn-default btn-lg btn-block active" role="button" aria-pressed="true">Manage Orders</a>

                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="border:solid; opacity:0.8; border-radius: 25px; background-color:#eceff1; color: black">

                        <div class="box-part text-center">

                            <div class="card-img">
                                <img src="" alt="">
                            </div>
                            <a href="/Movie/ListMovies" class="btn btn-default btn-lg btn-block active" role="button" aria-pressed="true">Manage Movies</a>

                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="border:solid; opacity:0.8; border-radius: 25px; background-color:#eceff1; color: black">

                        <div class="box-part text-center">

                            <div class="card-img">
                                <img src="" alt="">
                            </div>
                            <a href="/Admin/ListAdmins" class="btn btn-default btn-lg btn-block active" role="button" aria-pressed="true">Manage Admins</a>

                        </div>
                    </div>

                </div>
            </div>
            
        </div>
</body>