@model MovieApp.Model.Admin


@{
    ViewBag.Title = "AdminIndex";
}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</head>
<body style="background-color:wheat">

    <div class="container" style="margin: 5% 5% 5% 5%">

        <div class="card" style="width: 18rem; ">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>


        <div class="row">

            <div class="col-md-3">

                <div class="list-group">

                    <div class="dropdown">

                        <a href="#" class="list-group-item" , id="customers">Manage Customers</a>

                    </div>

                    <div class="dropdown">

                        <a href="#" class="list-group-item" , id="orders">Manage Orders</a>

                    </div>

                    <div class="dropdown">

                        <a href="#" class="list-group-item" , id="articles">Manage Movies</a>

                    </div>


                </div>

            </div>
        </div>
        <div class="row">

        </div>
    </div>
</body>