
@{
    ViewBag.Title = "Index";
}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
</head>
<!--Movie carousel-->
<body>
    <div class="row carousel-holder">

        <div class="col-md-12">

            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

                <ol class="carousel-indicators">

                    <li data-target="#" data-slide-to="0" class="active"></li>

                    <li data-target="#" data-slide-to="1"></li>

                    <li data-target="#" data-slide-to="2"></li>

                </ol>

                <div class="carousel-inner">

                    <div class="item active">

                        <img class="slide-image" src="~/Images/avengers.jpg" alt="image">

                    </div>

                    <div class="item">

                        <img class="slide-image" src="~/Images/aquaman.jpg" alt="image">

                    </div>

                    <div class="item">

                        <img class="slide-image" src="~/Images/wonderWoman.jpg" alt="image">

                    </div>

                </div>

                <a class="left carousel-control" href="#carousel-example-generic" data-slide="image">

                    <span class="glyphicon glyphicon-chevron-left"></span>

                </a>

                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">

                    <span class="glyphicon glyphicon-chevron-right"></span>

                </a>

            </div>

        </div>

    </div>
</body>

