
@{
    ViewBag.Title = "Index";
}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
</head>
<!--Movie cards-->
<body>
    <div class="container text-center" style="margin: 5% 5% 5% 5%">
        <hr />
        <h1>New releases</h1>
        <hr />

        <div class="row">
            <div class="col-sm-4">
                <div class="img__wrap">
                    <img style="width: auto; height: auto" src="~/Images/inception1.jpg" class="img-responsive" style="width:100%" alt="Image">
                    <p class="img__description">
                        A thief who steals corporate secrets through the use of dream-sharing technology is given
                        the inverse task of planting an idea into the mind of a CEO.
                    </p>
                </div>
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        Inception
                    </h4>
                    <div style="margin-top: 2%" class="row">
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-default" href="">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="img__wrap">
                    <img style="width: auto; height: auto" src="~/Images/avengers.jpg" class="img-responsive" style="width:100%" alt="Image">
                    <p class="img__description">
                        The Avengers and their allies must be willing to sacrifice all in an attempt to defeat
                        the powerful Thanos before his blitz of devastation and ruin puts an end to the universe.
                    </p>
                </div>
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        Avengers: Infinity War
                    </h4>
                    <div style="margin-top: 2%" class="row">
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-default" href="">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="img__wrap">
                    <img style="width: auto; height: auto" src="~/Images/avengers.jpg" class="img-responsive" style="width:100%" alt="Image">
                    <p class="img__description">
                        The Avengers and their allies must be willing to sacrifice all in an attempt to defeat
                        the powerful Thanos before his blitz of devastation and ruin puts an end to the universe.
                    </p>
                </div>
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        Avengers: Infinity War
                    </h4>
                    <div style="margin-top: 2%" class="row">
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" href="http://www.jquery2dotnet.com">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <h1>Fantasy</h1>
        <hr />
        <div class="row">
            <div class="col-sm-4">
                <div class="img__wrap">
                    <img style="width: auto; height: auto" src="~/Images/aquaman.jpg" class="img-responsive" style="width:100%" alt="Image">
                    <p class="img__description">
                        The Avengers and their allies must be willing to sacrifice all in an attempt to defeat
                        the powerful Thanos before his blitz of devastation and ruin puts an end to the universe.
                    </p>
                </div>
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        Aquaman
                    </h4>
                    <div style="margin-top: 2%" class="row">
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" href="http://www.jquery2dotnet.com">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="img__wrap">
                    <img style="width: auto; height: auto" src="~/Images/avengers.jpg" class="img-responsive" style="width:100%" alt="Image">
                    <p class="img__description">
                        The Avengers and their allies must be willing to sacrifice all in an attempt to defeat
                        the powerful Thanos before his blitz of devastation and ruin puts an end to the universe.
                    </p>
                </div>
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        Avengers: Infinity War
                    </h4>
                    <div style="margin-top: 2%" class="row">
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" href="http://www.jquery2dotnet.com">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="img__wrap">
                    <img style="width: auto; height: auto" src="~/Images/wonderWoman.jpg" class="img-responsive" style="width:100%" alt="Image">
                    <p class="img__description">
                        When a pilot crashes and tells of conflict in the outside world, Diana, an Amazonian
                        warrior in training, leaves home to fight a war, discovering her full powers and true destiny.
                    </p>
                </div>
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        Avengers: Infinity War
                    </h4>
                    <div style="margin-top: 2%" class="row">
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" href="http://www.jquery2dotnet.com">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr />
    <h1>Top 100 movies of all times</h1>
    <hr />
    <div class="col-sm-3">
        <img style="width: auto; height: auto" src="~/Images/shawshank.jpg" class="img-responsive" style="width:100%" alt="Image">
        <div class="caption">
            <h4 class="group inner list-group-item-heading">
                AThe Shawshank Redemption
            </h4>
            <p class="group inner list-group-item-text">
                Two imprisoned men bond over a number of years, finding solace and eventual redemption
                through acts of common decency...
            </p>
            <div style="margin-top: 2%" class="row">
                <div class="col-xs-12 col-md-6">
                    <a class="btn btn-success" href="http://www.jquery2dotnet.com">Add to cart</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <img style="width: auto; height: auto" src="~/Images/godfather.jpg" class="img-responsive" style="width:100%" alt="Image">
        <div class="caption">
            <h4 class="group inner list-group-item-heading">
                The Godfather
            </h4>
            <p class="group inner list-group-item-text">
                The aging patriarch of an organized crime dynasty transfers control of his clandestine
                empire to his reluctant son.
            </p>
            <div style="margin-top: 2%" class="row">
                <div class="col-xs-12 col-md-6">
                    <a class="btn btn-success" href="http://www.jquery2dotnet.com">Add to cart</a>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>

